{%  extends 'base.html'   %}
{% load static %}
{% block content%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'pages/image/d1.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Raspberry and Lemon Cake Trifles <br>

                    For Something Fresh, Light and Zingy our Raspberry Sorbet Topped With a mixed berry compote. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">25 SAR</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'pages/image/d2.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Chocolate Tower Truffle Cake
                    <br />
                    Layers and Layers of Fudge Cake with Chocolate Truffle Cream and Chocolate Mousse</p>
                  <div class="d-flex justify-content-between align-items-center">
                  
                    <small class="text-muted">28 SAR</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'pages/image/d3.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Blackcurrant Violet <br />
                    Two almond macaron shells filled with blackcurrant jam flavoured with violet.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">20 SAR</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'pages/image/d4.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Raspberry Cream Puffs <br />
                    Smooth and delicious raspberry marshmallow fluff on a soft raspberry marzipan base and covered with the incredible Valrhona Raspberry Inspiration.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">20 SAR</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'pages/image/d5.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Tiramisu
                 <br />
                    Italian Custard Made With Mascarpone, Whipped Cream , Lady Fingers ,Chocolate, Marsala and Coffee Liqueur</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">24 SAR</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'pages/image/d6.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Strawberry tart
                   <br>
                    shortbread crust and vanilla pastry cream and topped with beautiful fresh Strawberry.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">25 SAR</small>
                  </div>
                </div>
              </div>
            </div>

     

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>

    <script type="text/javascript">
      (function(d, m){
          var kommunicateSettings = 
              {"appId":"3b3afe993ca2caa8214d6d228b845a9fd","popupWidget":true,"automaticChatOpenOnNavigation":true};
          var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
          s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
          var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
          window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
  /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
  </script>



  </body>
</html>

{% endblock %}